.card {
    min-height: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
    background: linear-gradient(to bottom, #fefcea, #e6f1f7);       
}
.picture {
    max-height:120px;
    width:100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.title {
    color:midnightblue;
}
.title:hover {
    color:cadetblue;
}
.header {
    min-height: 50px; 
}
#inform {
    color:rgb(3, 49, 3);
}
#text {
    color:cornsilk;
    opacity: 80%;
}
.container {
    min-height: 90vh;
}
.footer {
    width:100%;
    max-height:10vh; 
    text-align: center;
    min-height: 40px;
}
.t-heads th {
    color:darkgray;
}

.favicon {
    margin-right:2px;
    height:16px;
    width: 16px;
    display: inline;
}
#main-image {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.weekend {
    color:crimson;
}
#email {
    display: inline;
}
#copiright {
    display: inline;
    margin-right: 50px;
    margin-bottom:10px;
}
.about {
    color: midnightblue;
}



